body{
margin-left:20%;
margin-right:20%;
background-color:aliceblue;
}
h1{
font-weight:normal;
border-bottom:1px solid grey;
}

h2{
font-weight:normal;
margin-bottom:20px;
font-size:20px;
}

.review{
 border-bottom: 0.5px solid lightgrey;

}

.review-text{
 font-size:large;

}

.user{
    font-size: 15px;
    font-style: italic;
}

.rating{
color:green;
font-weight:bolder;
}

input, textarea{
margin-bottom:10px;
background:blanchedalmond;
border:0;
padding:6px 10px;
font-size:20px;
width:30;
}

input[type=submit]{
font-weight:bold;
background-color: cornflowerblue;
color:cornsilk;
padding:10px 20px;
font-size:20px;
width: auto;
}

label{
display:block;
font-size:20px;
}