body{
margin-left:20%;
margin-right:20%;
background-color:aliceblue;
}
h1{
font-weight:normal;
border-bottom:1px solid grey;
}

h2{
font-weight:normal;
margin-bottom:20px;
font-size:20px;
}

input, textarea{
margin-bottom:10px;
background:blanchedalmond;
border:0;
padding:6px 10px;
font-size:20px;
width:30;
}

input[type=submit]{
font-weight:bold;
background-color: cornflowerblue;
color:cornsilk;
padding:10px 20px;
font-size:20px;
width: auto;
}